/* Resetting margins, paddings, and box model for consistent layout */
*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  overflow: hidden /* Prevent any scrolling */

body
  font-family: 'Arial', sans-serif /* Set a default font family */
  background-color: #f4f4f4 /* Light background color as fallback */
  display: flex
  align-items: center
  justify-content: center
